* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Source Sans Pro', sans-serif;
   font-size: $fs-1;
   color: $color-black-4;
   background-color: $color-white-0;
   @include responsive('extra-small') {
      section {
         width: 414px;
      }
   }
}

::selection {
   color: #fff;
   background: #d6b161;
   text-shadow: none;
}

img {
   width: 100%;
   height: auto;
}

a {
   color: $color-black-3;
   
   &:hover {
      color: $color-black-3;
      text-decoration: none;
   }
}