.section {
   margin-top: $mg-6;
   text-align: center;
   h3 {
      text-transform: uppercase;
      position: relative;
      padding: $pd-2 + 5;
      letter-spacing: $letter-space-0;
      &::after {
         content: '';
         position: absolute;
         bottom: -2px;
         left: 50%;
         transform: translateX(-50%);
         width: 60px;
         height: 2px;
         background: $color-gray-2;
      }
   }
   
   p {
      display: inline-block;
      color: $color-gray-3;
      margin-top: $mg-3;
      width: 40%;
      line-height: $line-height-1 - 5;
      font-size: $fs-0;
   }

   @include responsive("medium") {
      p {
         width: 60% !important;
      }
   }
}