#skills {
   margin-top: $mg-6;
   background-image: url(../img/paralax/4.jpg);
   @extend %backgroundImg;
   background-position: 50% 50%;
   height: 40rem;
   padding: $pd-4 0;
   color: $color-white-0;
   position: relative;

   .dark-overlay {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      content: "";
      background: rgba(0, 0, 0, .5);
   }

   .skills__content {
      width: 75%;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .skills__left {
         display: flex;
         align-items: center;
         justify-content: flex-end;
         padding-right: $pd-5 * 1.5;
         text-transform: uppercase;
         letter-spacing: $letter-space-1;
      }



      .skills__right {
         width: 100%;
         padding: 0 $pd-3;
         padding-left: $pd-5;
         .skills__bars {
            max-width: 450px;
            margin-top: $mg-6;
         }
      }
      h4 {
         text-transform: uppercase;
         font-size: $fs-3;
         letter-spacing: $letter-space-1 - 2;
      }

      p {
         margin-top: $mg-2;
         font-size: $fs-0;
         line-height: $line-height-1;
      }

      .skill__bar {
         height: $height-1;
         background: $color-gray-3;
         border-radius: $border-radius + 1;
         margin-bottom: $mg-5;

         .skill__per {
            height: $height-1;
            background: $color-white-0;
            position: relative;
            border-radius: $border-radius + 1;
            padding: 0 $pd-1;
            animation: fillBars 2.5s 1;

            .skill__name {
               font-size: $fs-1;
               color: $color-black-4;
               font-weight: $fw-2;
               text-transform: uppercase;
               margin: $mg-2 0;
               line-height: $line-height-1 - 10;
               overflow: hidden;
            }

            &::before {
               content: attr(per);
               position: absolute;
               top: -25px;
               right: 0;
               transform: translateX(50%);
               color: $color-black-4;
               display: inline-block;
               min-width: 25px;
               height: 20px;
               padding: 0 $pd-0 - 2;
               text-align: center;
               letter-spacing: 0;
               border-radius: $border-radius-1 - 4;
               background-color: $color-gray-7;
               line-height: $line-height-1 - 10;
            }

            &::after {
               content: '';
               position: absolute;
               top: -10px;
               right: 0;
               transform: translateX(50%) rotate(45deg);
               width: 7px;
               height: 7px;
               background-color: $color-gray-7;
            }
         }
      }
   }

   @include responsive("medium") {
      .skills__content {
         .skills__left {
            padding: 0;
            justify-content: flex-start;
         }
         .skills__right {
            padding: 0;
            .skills__bars {
               max-width: 100%;
               margin-top: $mg-5;
            }
         }
      }
   }
}

@keyframes fillBars {
   from {
      width: 0;
   }
   to {
      width: 100%;
   }
}