#together {
   margin-top: $mg-6;
   height: 70rem;
   background-image: url(../img/pattern-2.png);
   display: flex;
   align-items: center;
   justify-content: center;
   #together__tab {
      justify-content: space-between;
      border: none;

      .nav-item {
         transition: $transition-2;
         position: relative;
         background-color: rgba(34, 34, 34, .05);
         z-index: 2;
         .nav-link {
            padding: $pd-1*3 $pd-5;
            border-radius: 0;
            border: none;
            
            font-size: $fs-2;

            &::after {
               content: '';
               position: absolute;
               left: 50%;
               bottom: -19%;
               transform: translate(-50%, -50%);
               border: 20px solid transparent;
               border-bottom: 0;
               border-top: 20px solid $color-white-0;
               transition: $transition;
               opacity: 0;
               overflow: hidden;
            }

            &.active {
               &::after {
                  opacity: 1;
               }
            }
         }
         &:hover {
            background-color: $color-white-0;
            .nav-link {
               &::after {
                  opacity: 1;
               }
            }
         }

      }
   }


   #together__tab-content {
      width: 100%;
      .tab-pane {
         padding: 0;
         h3 {
            margin-top: $mg-4 * 2;
            letter-spacing: $letter-space-0;
            color: $color-gray-3;
            font-size: $fs-1;
         }

         h1 {
            letter-spacing: $letter-space-0;
            color: $color-black-4;
            font-size: $fs-0 * 2;
         }

         p {
            margin-top: $mg-1 * 2;
            line-height: $line-height-1;
         }
      }
   }

   @include responsive('medium') {
      .container-fluid {
         .together__content {
            #together__tab {
               display: inline-block;
               text-align: center;
               padding: 0;
               width: 100%;
               .nav-item {
                  width: 738px;
               }
            }
         }
      }
   }
   @include responsive('extra-small') {
      height: 83rem;
      .container-fluid {
         .together__content {
            #together__tab {
               display: inline-block;
               text-align: center;
               padding: 0;
               width: 100%;
               .nav-item {
                  width: 385px !important;
               }
            }
         }
      }
   }

   
}